## Тема “Создание признакового пространства”

In [81]:
import pandas as pd
import numpy as np

import os
import pickle

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from gensim.models import Word2Vec

In [82]:
lemmas_df = pd.read_pickle('lemmas.pickle')

In [3]:
lemmas_df.head()

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...",when father is dysfunct and is so selfish he d...,when father be dysfunctional and be so selfish...
1,2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...",thank for lyft credit can not use caus they do...,thank for lyft credit can not use cause they d...
2,3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]",bihday your majesti,bihday your majesty
3,4,0.0,model love you take with you all the time in ur,"[model, love, you, take, with, you, all, the, ...","[model, love, take, time, ur]",model love you take with you all the time in ur,model love you take with you all the time in ur
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]",factsguid societi now motiv,factsguide society now motivation

__1. Создайте мешок слов с помощью sklearn.feature_extraction.text.CountVectorizer.fit_transform(). Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.__
 - Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.
 - Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.
 - Исключим стоп-слова с помощью stop_words='english'.
 - Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью CountVectorizer.get_feature_names().

In [4]:
count_vectorizer = CountVectorizer(max_df=0.9, max_features=1000, stop_words='english')

In [5]:
bow_stemmed = count_vectorizer.fit_transform(lemmas_df['tweet_stemmed'])
stemmed_features_name = count_vectorizer.get_feature_names()

bow_lemmatized = count_vectorizer.fit_transform(lemmas_df['tweet_lemmatized'])
lematized_features_name = count_vectorizer.get_feature_names()

In [6]:
bow_df_stemmed = pd.DataFrame(bow_stemmed.toarray(), columns=stemmed_features_name)
bow_df_lemmatized = pd.DataFrame(bow_lemmatized.toarray(), columns=lematized_features_name)

In [7]:
bow_df_stemmed.head()

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,yeah,year,yesterday,yo,yoga,york,young,youtub,yr,yummi
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
bow_df_lemmatized.head()

,able,absolutely,accept,account,act,action,actor,actually,adapt,add,...,yesterday,yo,yoga,york,young,youth,youtube,yr,yrs,yummy
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

__2. Создайте мешок слов с помощью sklearn.feature_extraction.text.TfidfVectorizer.fit_transform(). Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.__
 - Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.
 - Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.
 - Исключим стоп-слова с помощью stop_words='english'.
 - Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью TfidfVectorizer.get_feature_names().

In [9]:
tf_idf_vectorizer = TfidfVectorizer(max_df=0.9, max_features=1000, stop_words='english')

In [10]:
bow_stemmed = tf_idf_vectorizer.fit_transform(lemmas_df['tweet_stemmed'])
stemmed_features_name = tf_idf_vectorizer.get_feature_names()

bow_lemmatized = tf_idf_vectorizer.fit_transform(lemmas_df['tweet_lemmatized'])
lematized_features_name = tf_idf_vectorizer.get_feature_names()

In [11]:
bow_df_stemmed = pd.DataFrame(bow_stemmed.toarray(), columns=stemmed_features_name)
bow_df_lemmatized = pd.DataFrame(bow_lemmatized.toarray(), columns=lematized_features_name)

In [12]:
bow_df_stemmed.head()

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,yeah,year,yesterday,yo,yoga,york,young,youtub,yr,yummi
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
bow_df_lemmatized.head()

,able,absolutely,accept,account,act,action,actor,actually,adapt,add,...,yesterday,yo,yoga,york,young,youth,youtube,yr,yrs,yummy
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

__3. Натренируем gensim.models.Word2Vec модель на наших данных.__
 - Тренировать будем на токенизированных твитах combine_df['tweet_token']
 - Установим следующие параметры: size=200, window=5, min_count=2, sg = 1, hs = 0, negative = 10, workers= 32, seed = 34.
 - Используем функцию train() с параметром total_examples равным длине combine_df['tweet_token'], количество epochs установим 20.

In [14]:
model = Word2Vec(lemmas_df['tweet_token'].values, size=200, window=5, min_count=2, sg=1, hs=0, negative=10, workers=32, seed=34)

In [15]:
model.train(lemmas_df['tweet_token'].values, total_examples=lemmas_df.shape[0], epochs=20)

(9130525, 11676060)

__4. Давайте немного потестируем нашу модель Word2Vec и посмотрим, как она работает. Мы зададим слово positive = "dinner", и модель вытащит из корпуса наиболее похожие слова c помощью функции most_similar. То же самое попробуем со словом "trump".__

In [16]:
model.most_similar(positive='dinner')

<ipython-input-16-202a8094a5bf>:1: DeprecationWarning: Call to deprecated `most_similar` (Method will be removed in 4.0.0, use self.wv.most_similar() instead).
  model.most_similar(positive='dinner')

[('bihdaydinner', 0.553238034248352),
 ('cookout', 0.5389305353164673),
 ('bolognese', 0.5384599566459656),
 ('lastnight', 0.536321222782135),
 ('shawarma', 0.5239943265914917),
 ('spaghetti', 0.5217270851135254),
 ('tacotuesday', 0.5174921751022339),
 ('foodblogger', 0.51694256067276),
 ('waterloo', 0.5162403583526611),
 ('hamburger', 0.5048338770866394)]

In [17]:
model.most_similar(positive='trump')

<ipython-input-17-fec2afd4aad9>:1: DeprecationWarning: Call to deprecated `most_similar` (Method will be removed in 4.0.0, use self.wv.most_similar() instead).
  model.most_similar(positive='trump')

[('donald', 0.5608898401260376),
 ('donaldtrump', 0.5287351608276367),
 ('unfavorability', 0.5205885767936707),
 ('commie', 0.5152626037597656),
 ('phony', 0.5138764381408691),
 ('potus', 0.5109441876411438),
 ('conman', 0.5097575187683105),
 ('unfit', 0.5090755820274353),
 ('dumptrump', 0.5079405307769775),
 ('trumptrain', 0.507314920425415)]

__5. Из приведенных выше примеров мы видим, что наша модель word2vec хорошо справляется с поиском наиболее похожих слов для данного слова. Но как она это делает? Она изучила векторы для каждого уникального слова наших данных и использует косинусное сходство, чтобы найти наиболее похожие векторы (слова).__  
Давайте проверим векторное представление любого слова из нашего корпуса, например "food".

In [18]:
model.most_similar(positive='food')

<ipython-input-18-4e4ba0c36ba0>:1: DeprecationWarning: Call to deprecated `most_similar` (Method will be removed in 4.0.0, use self.wv.most_similar() instead).
  model.most_similar(positive='food')

[('foodporn', 0.5392603278160095),
 ('yum', 0.5235472321510315),
 ('foodblogger', 0.5222619771957397),
 ('foodie', 0.5194104909896851),
 ('delicious', 0.5048797130584717),
 ('instafood', 0.4981951117515564),
 ('foodstagram', 0.49277031421661377),
 ('seafood', 0.4845239818096161),
 ('nomnom', 0.4821353852748871),
 ('integral', 0.48162728548049927)]

__6. Поскольку наши данные содержат твиты, а не только слова, нам придется придумать способ использовать векторы слов из модели word2vec для создания векторного представления всего твита. Существует простое решение этой проблемы, мы можем просто взять среднее значение всех векторов слов, присутствующих в твите. Длина результирующего вектора будет одинаковой, то есть 200. Мы повторим тот же процесс для всех твитов в наших данных и получим их векторы. Теперь у нас есть 200 функций word2vec для наших данных.__  
Необходимо создать вектор для каждого твита, взяв среднее зн§ачение векторов слов, присутствующих в твите. В цикле сделать:  vec += model_w2v[word].reshape((1, size))
и поделить финальный вектор на количество слов в твите.
На выходе должен получиться wordvec_df.shape = (49159, 200).

In [99]:
def avr_vec(x):
    
    vec = 0
    
    for i in x:
        
        try:
            vec += model[i]
            
        except KeyError:
            
            pass
    

    if isinstance(vec, np.ndarray):
        return (vec / np.array(x).shape[0]).astype('float32')
    else:
        return np.zeros((200, )).astype('float32')

In [100]:
word_avr_vecs = lemmas_df['tweet_token'].apply(avr_vec).values

<ipython-input-99-fc7a55631a4c>:8: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).
  vec += model[i]

In [106]:
word_avr_vecs = np.array([i for i in word_avr_vecs], dtype=np.float)

In [107]:
word_avr_vecs.shape

(49159, 200)